<mat-toolbar color="primary"
             fxLayout="row"
             fxLayoutAlign="space-between center"
             fxFlex="1 1 auto">

  <button mat-icon-button (click)="toggleSidenav()" color="accent"
          *ngIf="sidenavService.nav$ | async as nav">
    <mat-icon *ngIf="!nav.opened">menu</mat-icon>
    <mat-icon *ngIf="nav.opened">close</mat-icon>
  </button>

  <img [src]="logoURL" alt="UChicago" style="height: 48px">

  <a (click)="togglePanel()">
    <app-user-photo [src]="auth.authState.photoURL"></app-user-photo>
  </a>

</mat-toolbar>

<app-user-panel *ngIf="showPanel" (close)="togglePanel()">
</app-user-panel>
