/* You can add global styles to this file, and also import other style files */
@import '../../node_modules/katex/dist/katex.css';
@import 'variables.scss';

html, body {
  height: 100%;
}


body {
  margin: 0;
  font-family: Roboto,
  "Helvetica Neue", sans-serif;
}

.mat-chip-category {
  background-color: $uc-maroon !important;
  color: white !important;
}
