@import '../../node_modules/@angular/material/theming';
@import 'variables';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();


$uc-primary: (
  50: $uc-maroon,
  100: $uc-maroon,
  200: $uc-maroon,
  300: $uc-maroon,
  400: $uc-maroon,
  500: $uc-maroon,
  600: $uc-maroon,
  700: $uc-maroon,
  800: $uc-maroon,
  900: $uc-maroon,
  A100: #D6D6CE,
  A200: #D6D6CE,
  A400: #767676,
  A700: #767676,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: white,
    A400: white,
    A700: white,
  )
);

$uc-accent: (
  50: white,
  100: white,
  200: $uc-light-gray,
  300: $uc-light-gray,
  400: $uc-light-gray,
  500: $uc-light-gray,
  600: $uc-dark-gray,
  700: $uc-dark-gray,
  800: $uc-dark-gray,
  900: $uc-dark-gray,
  A100: #D6D6CE,
  A200: #D6D6CE,
  A400: #767676,
  A700: #767676,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: white,
    A400: white,
    A700: white,
  )
);


// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$app-primary: mat-palette($uc-primary);
$app-accent:  mat-palette($uc-accent);

// The warn palette is optional (defaults to red).
$app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($app-theme);

