/* Theme Colors */
$uc-maroon: #800000;
$uc-light-gray: #D6D6CE;
$uc-dark-gray: #767676;

/* Text Colors */
$black-100: rgba(0, 0, 0, 1);
$black-87: rgba(0, 0, 0, .87);
$black-54: rgba(0, 0, 0, .54);
$black-38: rgba(0, 0, 0, .38);
$black-20: rgba(0, 0, 0, .2);
$black-14: rgba(0, 0, 0, .14);
$black-12: rgba(0, 0, 0, .12);
$black-5: rgba(0, 0, 0, .05);
