<form [formGroup]="problemForm" fxLayout="column" fxLayoutGap="8px">
  <mat-form-field *appLet="problemForm.controls['name'] as ctrl" appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput
           type="text"
           formControlName="name"
           required>
    <mat-error *ngIf="ctrl.hasError('required')">Name is required</mat-error>
  </mat-form-field>

  <mat-form-field *appLet="problemForm.controls['statement'] as ctrl" appearance="fill">
    <mat-label>Statement</mat-label>
    <textarea
      [placeholder]="placeholders.statement"
      matTextareaAutosize
      required
      formControlName="statement"
      matAutosizeMinRows="2"
      matAutosizeMaxRows="10"
      matInput>
    </textarea>
    <mat-hint>Supported formats: plaintext, LaTeX</mat-hint>
    <mat-error *ngIf="ctrl.hasError('required')">Problem statement is required</mat-error>
  </mat-form-field>

  <mat-form-field *appLet="problemForm.controls['author'] as ctrl" appearance="fill">
    <mat-label>Author</mat-label>
    <input matInput type="text" formControlName="author">
  </mat-form-field>

  <mat-form-field *appLet="problemForm.controls['notes'] as ctrl" appearance="fill">
    <mat-label>Notes</mat-label>
    <textarea matInput matTextareaAutosize matAutosizeMinRows="1" matAutosizeMaxRows="10"
              formControlName="notes">
    </textarea>
  </mat-form-field>

  <mat-form-field style="width: 100%" *appLet="problemForm.controls['tags'] as ctrl" appearance="fill">
    <mat-label>Tags</mat-label>
    <mat-chip-list #chipList formControlName="tags" >
      <mat-chip *ngFor="let tag of ctrl.value" [selectable]="false"
                color="primary" class="mat-chip-category"
                [removable]="true" (removed)="removeTag(tag)">
        {{tag}}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
      <input #tagInput
             (input)="filterTags()"
             [matAutocomplete]="auto"
             [matChipInputFor]="chipList"
             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
             [matChipInputAddOnBlur]="addOnBlur"
             (matChipInputTokenEnd)="addTag($event)">
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedTag($event)">
      <mat-option *ngFor="let tag of filtered" [value]="tag">
        {{tag}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <section>

    <mat-card-subtitle>History</mat-card-subtitle>

    <div formArrayName="records" *ngFor="let formGrp of recordArray.controls; let i = index"
         fxLayout="column" fxLayoutAlign="start stretch">

      <div [formGroupName]="i" fxLayout="row"
           fxLayoutAlign="space-between center" fxLayoutGap="16px">

        <app-record-form [formGrp]="formGrp" fxFlex="1 1 auto"></app-record-form>

        <button mat-button color="warn" fxFlex="0 0 64px"
                (click)="removeRecord(i)" type="button">
          <mat-icon>close</mat-icon>
        </button>

      </div>

    </div>

  </section>

</form>

<form [formGroup]="newRecordForm" (ngSubmit)="addRecord()" fxLayout="column">

  <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="start center">

    <app-record-form [formGrp]="newRecordForm" style="width: 100%"></app-record-form>

    <button mat-raised-button color="primary" fxFlex="0 0 64px"
            [disabled]="newRecordForm.invalid" type="submit">
      ADD
    </button>

  </div>

</form>
