<app-card>
  <mat-card-content fxLayout="row" fxLayoutAlign="end center">
    <button mat-button mat-icon-button color="primary"
            (click)="editMode = !editMode">
      <mat-icon *ngIf="editMode">check</mat-icon>
      <mat-icon *ngIf="!editMode">mode_edit</mat-icon>
    </button>
  </mat-card-content>
  <mat-card-content>
    <app-edit-problem *ngIf="editMode" [problem]="problem"></app-edit-problem>
    <app-view-problem *ngIf="!editMode" [problem]="problem"></app-view-problem>
  </mat-card-content>
</app-card>
