<mat-table [dataSource]="problems" #table matSort>

  <!-- Selection column -->
  <ng-container matColumnDef="select">
    <mat-header-cell *matHeaderCellDef fxFlex="52px">
      <mat-checkbox (change)="$event ? masterToggle() : null"
                    [indeterminate]="selection.hasValue && !isAllSelected()"
                    [checked]="selection.hasValue() && isAllSelected()">
      </mat-checkbox>
    </mat-header-cell>
    <mat-cell *matCellDef="let row" fxFlex="52px">
      <mat-checkbox (click)="$event.stopPropagation()"
                    [checked]="selection.isSelected(row)"
                    (change)="$event ? selection.toggle(row) : null">
      </mat-checkbox>
    </mat-cell>
    <mat-footer-cell *matFooterCellDef fxFlex="0 0 auto" fxLayout="row">
      <div *ngIf="!!selection.selected.length">
        {{selection.selected.length}} problems selected
      </div>
    </mat-footer-cell>
  </ng-container>

  <!-- Name column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
    <mat-cell *matCellDef="let row">
      <a [href]="row.url">{{row.name}}</a>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  <mat-footer-row *matFooterRowDef="['select']"></mat-footer-row>

</mat-table>

<mat-paginator [fxHide]="(dataSource?.filteredData?.length || dataSource.data?.length) <= dataSource?.paginator?.pageSize"
               [pageIndex]="0"
               [pageSize]="10"
               [pageSizeOptions]="[10, 25, 100]"
               #paginator>

</mat-paginator>
