
<form [formGroup]="editProblemForm" fxLayout="column" fxLayoutGap="8px">
  <mat-form-field *appLet="editProblemForm.controls['name'] as ctrl">
    <mat-label>Name</mat-label>
    <input matInput
           type="text"
           formControlName="name"
           [ngModel]="problem.name"
           required>
    <mat-error *ngIf="ctrl.hasError('required')">Name is required</mat-error>
  </mat-form-field>

  <mat-form-field *appLet="editProblemForm.controls['statement'] as ctrl">
    <mat-label>Statement</mat-label>
    <textarea
      matTextareaAutosize
      required
      formControlName="statement"
      [ngModel]="problem.statement"
      matAutosizeMinRows="3"
      matAutosizeMaxRows="10"
      matInput>
    </textarea>
    <mat-error *ngIf="ctrl.hasError('required')">Problem statement is required</mat-error>
  </mat-form-field>

  <mat-form-field style="width: 100%">
    <mat-chip-list #chipList>
      <mat-chip
        class="mat-chip-category"
        color="primary"
        *ngFor="let tag of problem.tags"
        [selectable]="false"
        (removed)="remove(tag)">
        {{tag}}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
      <input
        placeholder="Tags"
        #tagInput
        formControlName="tags"
        [matAutocomplete]="auto"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="false"
        (matChipInputTokenEnd)="add($event)">
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
      <mat-option *ngFor="let tag of filteredTags$ | async" [value]="tag">
        {{tag}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

</form>
