<div fxLayout="column" fxLayoutGap="16px">

  <div>
    <div fxLayout="row" fxLayoutAlign="start center">
      <h3 class="mat-h3" style="margin: 0 4px 0 0">Statement</h3>
      <button mat-button mat-icon-button color="primary"
              (click)="copy()" matTooltip="Copy to clipboard">
        <mat-icon>file_copy</mat-icon>
      </button>
    </div>
    <ng-katex-paragraph [paragraph]="problem.statement"></ng-katex-paragraph>
  </div>

  <div>
    <h3 class="mat-h3">Author</h3>
    <div>{{problem.author ? problem.author : 'None'}}</div>
  </div>

  <div>
    <h3 class="mat-h3">Notes</h3>
    <div>{{problem.notes ? problem.notes : 'None'}}</div>
  </div>

  <div>
    <h3 class="mat-h3">History</h3>
    <table mat-table [dataSource]="dataSource" style="width: 100%" 
           *ngIf="problem.records?.length; else noHistory">

      <!-- Course Column -->
      <ng-container matColumnDef="course">
        <th mat-header-cell *matHeaderCellDef>Course</th>
        <td mat-cell *matCellDef="let row"> {{row.course}} </td>
      </ng-container>

      <!-- Quarter Column -->
      <ng-container matColumnDef="quarter">
        <th mat-header-cell *matHeaderCellDef>Quarter</th>
        <td mat-cell *matCellDef="let row"> {{row.quarter}} </td>
      </ng-container>

      <!-- Year Column -->
      <ng-container matColumnDef="year">
        <th mat-header-cell *matHeaderCellDef>Year</th>
        <td mat-cell *matCellDef="let row"> {{row.year}} </td>
      </ng-container>

      <!-- Type Column -->
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef>Type</th>
        <td mat-cell *matCellDef="let row">
          <span>{{row.type}}</span>
          <span *ngIf="row.typeNumber"> {{row.typeNumber}}</span>
        </td>
      </ng-container>

      <!-- Number Column -->
      <ng-container matColumnDef="number">
        <th mat-header-cell *matHeaderCellDef>No.</th>
        <td mat-cell *matCellDef="let row">{{row.problemNumber}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

    <ng-template #noHistory>
      <div>No recorded uses.</div>
    </ng-template>
    
  </div>

  <div>
    <h3 class="mat-h3">Tags</h3>
    <mat-chip-list *ngIf="problem.tags?.length; else noTags">
      <mat-chip color="primary" class="mat-chip-category"
                *ngFor="let tag of problem.tags">
        {{tag}}
      </mat-chip>
    </mat-chip-list>

    <ng-template #noTags>
      <div>No tags.</div>
    </ng-template>
  </div>

</div>
